.navbar-item.is-mega {
	position: static;
}
.navbar-item.is-mega .is-mega-menu-title {
	margin-bottom: 0;
	padding: .375rem 1rem;
}
.navtop{
	width: 100%;
	background-color: #B7080A;
	height: 4px;
	color: blue;
}

* {
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}
/* font */

.bold{
	font-weight: medium;
}
.textjudul{
	font-size: 20px;
}
.sidebarjudul{
	font-size:20px;
}
.white{
	color: white;
}

/* warna*/
.itemmedium{
	background: #343434;
}
.itemsemu{
	background: #3B3B3B;
}
.itemsemu h1{
	color: white !important;
}
.itemsemu p{
	color: white !important;
}
.itemsemu h2{
	color: white !important;
}

.backgroundorange{
	background: #E85000;
}
.backgroundwhiteitem{
	background: #FAFAFA;
}
.backgroundred{
	background: #B30202;
}
.backgroundgrey{
	background: #F5F5F5;	
	border-top: 1px solid #E4E4E4;	
}
.backgroundwhite{
	background: white;
}

/* Margin */
.margintop5{
	margin-top: 5px;
}
.margintop10{
	margin-top: 10px;
}
.margintop20{
	margin-top: 20px;
}
.margintop30{
	margin-top: 30px;
}
.margintop40{
	margin-top: 40px;
}
.margintop50{
	margin-top: 50px;
}
.marginbottom10{
	margin-bottom: 10px;
}
.marginbottom20{
	margin-bottom: 20px;
}
.marginbottom30{
	margin-bottom: 30px;
}
.marginbottom40{
	margin-bottom: 40px;
}
.marginbottom50{
	margin-bottom: 50px;
}
.marginleft10{
	margin-left: 10px;
}
.marginleft20{
	margin-left: 20px;
}
.marginleft30{
	margin-left: 30px;
}
.marginleft40{
	margin-left: 40px;
}
.marginleft50{
	margin-left: 50px;
}
.marginright10{
	margin-right: 10px;
}
.marginright20{
	margin-right: 20px;
}
.marginright30{
	margin-right: 30px;
}
.marginright40{
	margin-right: 40px;
}
.marginright50{
	margin-right: 50px;
}
.marginleftright10{
	margin-left: 10px;
	margin-right: 10px;
}
.marginleftright20{
	margin-left: 20px;
	margin-right: 20px;
}
.marginleftright30{
	margin-left: 30px;
	margin-right: 30px;
}
.marginleftright40{
	margin-left: 40px;
	margin-right: 40px;
}
.marginleftright50{
	margin-left: 50px;
	margin-right: 50px;
}
.margintopbottom10{
	margin-top: 10px;
	margin-bottom: 10px;
}
.margintopbottom20{
	margin-top: 20px;
	margin-bottom: 20px;
}
.margintopbottom30{
	margin-top: 30px;
	margin-bottom: 30px;
}
.margintopbottom40{
	margin-top: 40px;
	margin-bottom: 40px;
}
.margintopbottom50{
	margin-top: 50px;
	margin-bottom: 50px;
}
.margin10{
	margin: 10px;
}
.margin20{
	margin: 20px;
}
.margin30{
	margin: 30px;
}
.margin40{
	margin: 40px;
}
.margin50{
	margin: 50px;
}


.padingleftright10{
	padding-left:10px;
	padding-right: 10px;
}
.pading10{
	padding: 10px;
}
.pading20{
	padding: 20px;
}
.pading30{
	padding: 30px;
}
.pading40{
	padding: 40px;
}
.pading50{
	padding: 50px;
}
.padingtop10{
	padding-top: 10px;
}
.padingtop20{
	padding-top: 20px;
}
.padingtop30{
	padding-top: 30px;
}
.padingtop40{
	padding-top: 40px;
}
.padingtop50{
	padding-top: 50px;
}
.padingbottom10{
	padding-bottom: 10px;
}
.padingbottom20{
	padding-bottom: 20px;
}
.padingbottom30{
	padding-bottom: 30px;
}
.padingbottom40{
	padding-bottom: 40px;
}
.padingbottom50{
	padding-bottom: 50px;
}
.padingmin{
	padding: -15px;
}

.iconkecil{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 12px;
	color: #838383;
}
.judul{
	font-size: 24px;
	color: #303030;
}
.judul:hover{
	font-size: 24px;
	color: #9B493E;
}
.judul2{
	font-size: 15px;
	color: #303030;
}
.judul2:hover{
	font-size: 15px;
	color: #9B493E;
}

.deskripsi{
	padding-top: 5px;
	padding-bottom: 5px;
	font-size: 14px;

}
html{
	outline: none;
}
.covergambar1{
	overflow: hidden;
	height: 115px;

}
.covergambar{
	overflow: hidden;
	height: 182px;
}
.kategori{
	padding-top: 10px;
	padding-bottom: 5px;
	color: blue;
	font-size: 13px;
}
.coverinnya:hover img{
	-webkit-transform: scale(1.1);
	-moz-transform: scale(1.1);
	transform: scale(1.1);
	opacity: 6;
}
.lingkaran{
	padding: 8px 10px;
	text-align: center;
	background: red;
	border-radius: 50%;
	align-content: center;
}
.lingkaranhijau{
	padding: 8px 10px;
	text-align: center;
	background: #15B341	;
	border-radius: 50%;
	align-content: center;
}
.center{
	text-align: center;
}
.border{
	border: 0.5px solid #E4E4E4;
	border-radius: 3px;
}
.post-body{
	color: #6e6e6e;
	font-size: 15px;
	line-height: 27px;
}
.block{
	display: inline-block;
}
.imgprofil{

	width: 100px;
	height: 95px;
	z-index: 99;
}
#fotoprofil{

position: absolute;

}
.covergambar img{
	display: block;
	width: 120%;
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-ms-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}
#imgcoverprofil{
	width: 100%;
	height: 100% !important;
	
	background-size: cover;
}
.covergambar1 img{
	display: block;
	width: 120%;
	-webkit-transition: all 0.3s linear 0s;
	-moz-transition: all 0.3s linear 0s;
	-ms-transition: all 0.3s linear 0s;
	-o-transition: all 0.3s linear 0s;
	transition: all 0.3s linear 0s;
}
.alert{
	padding: 10px;
	border-radius: 5px;
	color: white;
}
.alert-success{
	margin-top: 20px;
	background-color: #5DE08B;
}
.coverprofil{
	width: 100%;
	height: 480px !important;
	background: url(../img/galeri.png) no-repeat center;
	background-size: cover;
}
.toto{
	height: 50px;
	width: 50px;
}
.hiden{
	overflow: hidden;
	height: 250px;
	position: relative;
	background-position: center;

}

.width100{
	width: 100%;
}
.is-facebook{
	background: #1787F3;
	border: none;
	color: white;
}
.pp{
	background: black;
	width: 44px;
	height: 44px;
	
}
.is-facebook:hover{
	background: #1787F3;
	border: none;
	color: white;
}
.is-gmail{
	background: #DE5045;
	border: none;
	color: white;
}
.is-gmail:hover{
	background: #DE5045;
	border: none;
	color: white;
}

.coverinnya:hover img{
}
.floatleft{
	float: left;
}
.floatright{
	float: right;
}

.font12{
	font-size: 12px;
}
.font13{
	font-size: 13px;
}
